{{- $title := .Title | default .Site.Title -}}
{{- $description := .Params.description | default .Site.Params.description -}}
{{- $author := .Site.Author.name | default "Cartola Survival" -}}
{{- $canonical := .Permalink | default .Site.BaseURL -}}
{{- $image := .Params.image | default "img/default-share.jpg" | absURL -}}

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">
  <meta name="description" content="{{ $description }}">
  <title>{{ $title }} | {{ .Site.Title }}</title>
  <link rel="canonical" href="{{ $canonical }}">

  <!-- SEO básico -->
  <meta name="author" content="{{ $author }}">
  {{ with .Params.tags }}
    <meta name="keywords" content="{{ delimit . ", " }}">
  {{ end }}

  <!-- Open Graph -->
  <meta property="og:title" content="{{ $title }}">
  <meta property="og:description" content="{{ $description }}">
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ $canonical }}">
  <meta property="og:image" content="{{ $image }}">

  <!-- Twitter Cards -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ $title }}">
  <meta name="twitter:description" content="{{ $description }}">
  <meta name="twitter:image" content="{{ $image }}">

  <!-- Links sociais -->
  <meta property="og:see_also" content="https://odysee.com/@CartolaSurvival:b?r=4R3kYk4Khsbz9wY71zwvgHHkgYWFgx2P" />
  <meta property="og:see_also" content="https://youtube.com/@survivalcartola" />
  <meta property="og:see_also" content="https://t.me/linkcartola" />

  <!-- Favicon -->
  <link rel="icon" href="{{ "img/favicon.ico" | absURL }}" type="image/x-icon">

  <!-- CSS principal -->
  {{ partial "css.html" . }}
  <link rel="stylesheet" href="/css/tecnoruina.css">
</head>

